@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-blue: #003580;
  --color-light-blue: #0071c2;
  --color-white: #fff;
  --color-yellow: #febb02;
  --color-gray: #6b6b6b;
}
